<template>
<div class="item">
  <div class="items">
        <img :src="image.url" v-for="image in images" :key="image.url" />
  </div>
</div>
</template>

<script>
export default {
  name: "Gallery",
  props: ['images']
};
</script>

<style lang="scss">
.items{
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-content: center;
  
  img {    
    width: auto;
    max-height: 250px;
    padding: 5px;
    border-radius: 5px;
  }

}


@media screen and (max-width:1200px) {
 .items img {
    max-height:100px;
  }
}

@media screen and (min-width: 2560px) {
 .items img {
    max-height:200px;
  }
}
</style>