<template>
  <div id="upload-image">
    <input 
          type="text"
          class="upload__input"
          name="newImages" 
          @keyup.enter="addImage" 
          v-model="newImages" 
      />
    <button 
      class="upload__btn"
      @click="addImage">
        Загрузить
    </button>
    <h3 v-if="errMessage">Правильные форматы: .jpg | .png | .jpeg</h3>
  </div>
</template>

<script>

export default {
  name: "UploadImages",
  props: ['images'],
  data() {
    return {
      newImages: '',
      errMessage: false,
    };
  },
  methods: {
    addImage: function() {
      if(checkImgUrl(this.newImages)){
        this.images.push({url:this.newImages});
        this.errMessage = false;
      }else{
        this.errMessage = true;
      }
      this.newImages = '';
    }
  },

};
var checkImgUrl = src => {
  let regularValue = new RegExp(/^https?:\/\/.*\.(?:jpe?g|gif|png)$/gi);

  if(regularValue.exec(src)){
    return true;
  }else{
    return false
  }
}
</script>

<style lang="scss">

$common_padding: 14px 32px;
$common_radius: 3px;
$green_color: #4CAF50;

#upload-image {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

  .upload__input{
    width: 30%;
    padding: $common_padding;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: $common_radius;
  }
  
  .upload__btn{
    background-color: $green_color;
    border: none;
    color: white;
    padding: $common_padding;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: $common_radius;
  }
</style>