<template>
  <div id="app">
    <UploadImages :images.sync="images" />
    <Gallery :images.sync="images" />
  </div>
</template>

<script>

import UploadImages from './components/UploadImages.vue'
import Gallery from './components/Gallery.vue'
import json from './data/ImageUrls.json'

export default {
  name: 'App',
  components: {
    UploadImages,
    Gallery
  },
  data: function(){
    return{
        images: json.galleryImages
    }
  }, 
}
</script>
